
  <div class="text-center form-singin singIUsize ">

    <h1 class="h3 mb-3 fw-normal text-center textWhite">Create account</h1>
      <div class="form-floating">
        <input
    
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          [(ngModel)]="userDTO.email"/>
          <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="contentText2"
          placeholder="Account name... "
          [(ngModel)]="userDTO.accountName"/>
        <label for="floatingInput">Acconut name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="password"
          placeholder="Password... "
          [(ngModel)]="userDTO.password"/>
          <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3 textWhite">
        <label>
          <input type="checkbox" value="remember-me "> Remember me
        </label>
      </div>
    
      <button class="btn btn-outline-secondary mb-3 " (click)="registerUser()">Sing up</button>

      <div *ngIf="notification!=null" class="alert alert-dark " role="alert">
        {{notification}}
      </div>
    
      </div>
